<div class="row">
  <div class="large-12 columns">
    <!--Form ITEM-->
    <div class="box no-shadow ">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="ti-view-list palette-Indigo-700 text"></i>
          <span>Add Items</span>
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body create-item">
        <!-- row -->
        <div class="row">
          <form action="POST">
            <div class="row">
              <div class="input-group">
                <div class="medium-6 columns">
                  <label>Item Name
                    <input type="text" id="itemName" aria-describedby="SurgicalItemDescription"
                      placeholder="Add Item Name">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Catalog Number
                    <input type="text" id="itemCatalog" aria-describedby="SurgicalItemCatalogNumber"
                      placeholder="Add Catalog Number">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Category
                    <input type="text" id="itemCategory" aria-describedby="SurgicalItemCategory" placeholder="Add Category">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Cost Per Unit`
                    <input type="number" id="itemCpu" aria-describedby="SurgicalItemCostPerUnit"
                      placeholder="Add Cost Per Unit">
                  </label>
                  <div class="input-group-button"></div>
                  <input type="submit" id="itemSubmit" class="button button expanded" value="Submit">
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <!-- end row -->

        <!-- To ADD ITEM -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/addItem.js"></script>