<div class="row">
    <div class="large-12 columns">
        <!--Form ITEM-->
        <div class="box no-shadow ">
            <div class="box-header bg-transparent">
                <h3 class="box-title"><i class="ti-view-list palette-Indigo-700 text"></i>
                    <span>Add Items</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- row -->
                <div class="row">
                        <form>
                            <div class="row">
                                <div class="input-group">
                                    <div class="medium-6 columns">
                                        <label>ProcedureName
                                            <input type="text" placeholder="Add Item's Name">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>procedureTime
                                            <input type="number" placeholder="Add Item's Catalog Number">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>procedureCptId
                                            <input type="text" placeholder="Add Item's Category">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>ProcedurePosition
                                            <input type="number" placeholder="Add Item's Cost">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>ProcedureRequiredPersonnel
                                            <input type="number" placeholder="Add Item's Cost Per unit">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <div class="input-group-button align-bottom"></div>
                                        <input type="submit" class="button button expanded" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
                <hr>
                <!-- end row -->