<div class="row">
  <div class="large-12 columns">
    <!--Form ITEM-->
    <div class="box no-shadow ">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="ti-view-list palette-Indigo-700 text"></i>
          <span>Add Procedure</span>
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body create-procedure">
        <!-- row -->
        <div class="row">
          <form>
            <div class="row">
              <div class="input-group">
                <div class="medium-6 columns">
                  <label>Procedure Name
                    <input type="text" id="procedureName" placeholder="Add Procedue Name">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Approximate Time
                    <input type="number" id="procedureTime" placeholder="Add Approimate Time">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>CPT ID
                    <input type="number" id="procedureCptId" placeholder="Add CPT ID">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Position
                    <input type="text" id="procedurePosition" placeholder="Add Position">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Required Personnel
                    <input type="text" id="procedureRequiredPersonnel" placeholder="Add Required Personnel">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <div class="input-group-button align-bottom"></div>
                  <input type="submit" class="button button expanded" value="Create Procedure">
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <!-- end row -->

        <!-- To ADD PROCEDURE -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/addprocedure.js"></script>