<div class="row">
  <div class="large-12 columns">
    <!--Form ITEM-->
    <div class="box no-shadow ">
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="ti-view-list palette-Indigo-700 text"></i>
          <span>Add Surgeon</span>
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body create-surgeon">
        <!-- row -->
        <div class="row">
          <form>
            <div class="row">
              <div class="input-group">
                <div class="medium-6 columns">
                  <label>Surgeon Name
                    <input type="text" id="surgeonName" placeholder="Add Surgeon Name">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Gender
                    <input type="text" id="surgeonGender" placeholder="Add Gender">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Specialty
                    <input type="text" id="surgeonSpecialty" placeholder="Add Specialty">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Phone
                    <input type="text" id="surgeonPhone" placeholder="Add Phone">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>Email
                    <input type="text" id="surgeonEmail" placeholder="Add Email">
                  </label>
                </div>
                
                <div class="medium-6 columns">
                  <label>Gown Size
                    <input type="text" id="surgeonGownSize" placeholder="Add Gown Size">
                   </label>
                </div>
                <div class="medium-6 columns">
                  <label>Glove Size
                    <input type="text" id="surgeonGloveSize" placeholder="Add Glove Size">
                  </label>
                </div>
                <div class="medium-6 columns">
                  <label>General Notes
                    <input type="text" id="surgeonGeneralNotes" placeholder="Add General Notes">
                  </label>
                </div>

                <div class="medium-6 columns">
                  <div class="input-group-button align-bottom"></div>
                  <input type="submit" class="button button expanded" value="Create Surgeon">
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <!-- end row -->

        <!-- To ADD PROCEDURE -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/addsurgeon.js"></script>