
<hr>
<!-- row -->
<div class="row">
<div class="large-6 columns">
  <div class="box bg-transparent">
    <div class="box-header bg-transparent ">
      
      <h3 class="box-title"><i class="ti-search"></i>
        <span>SEARCH</span>
      </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body bg-opacity-white " style="display: block;">
       <label>Procedures
      <select id="selecProc">
        {{#each procedures}}
        <option value="">{{procedureName}}</option>

        {{/each}}

      </select>
    </label> 
    <label>Surgeons
      <select id="selecSurg">
       {{#each surgeons}}
        <option value="">{{surgeonName}}</option>

        {{/each}}
      </select>
    </label>
    <a href="#" class="button">Learn More</a> <a href="#features" class="button">View All Features</a>
    </div>
    <!-- end .timeline -->
  </div>
  <!-- box -->
</div>
  
</div>

<!-- end row -->
