
<hr>
<!-- row -->
<div class="row">
<div class="columns large-6 large-centered">
  <div class="box bg-transparent">
    <div class="box-header bg-transparent ">
      
      <h3 class="box-title"><i class="ti-search"></i>
        <span>SEARCH</span>
      </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body bg-opacity-white " style="display: block;">
       <label>Procedures
      <select id="selecProc">
        <option value="" selected disabled hidden>Choose Procedure</option>
        {{#each procedures}}
        <option value="">{{procedureName}}</option>
        {{/each}}
      </select>
    </label> 

    <label>Surgeons
      <select id="selecSurg">
        <option value="" selected disabled hidden>Choose Surgeon</option>
       {{#each surgeons}}
        <option value="">{{surgeonName}}</option>

        {{/each}}
      </select>
    </label>
    <div class="input-group-button">
    <input type="submit" class="button button expanded" value="Create Preference Card">
  </div>
    </div>
    <!-- end .timeline -->
  </div>
  <!-- box -->
</div>
  
</div>

<!-- end row -->
