<!-- row -->
<div class="row">

  <div class="large-6 columns">
    <label>Procedures
      <select id="selecProc">
     {{#each procedures}}
        <option value="">{{procedureName}}</option>

     {{/each}}
       
      </select>
    </label>
    <label>Surgeons
      <select id="selecSurg">
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
      </select>
    </label>
  </div>
</div>
<hr>
<!-- end row -->